.login {
    border: 1px solid #b5acac;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        .left {
            width: 65px;
            text-align: left;
            font-size: 13px;
            line-height: 32px;
        }
        .right {
            width: 100%;
            .input {
                background: none;
                width: 100%;
                padding-left: 5px;
                height: 30px;
                line-height: 30px;
                border: 1px solid #dad2d2;
                border-radius: 5px;
            }
        }
        .button {
            width: 100%;
            background: #1890ff;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            border-radius: 5px;
            border: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}