* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #e0e9f5;
}

main {
    /* margin-top: 7rem; */
    text-align: center;
    height: 100%;
}

h1,
h2,
h3,
p {
    color: #042b5f;
}

@font-face {
    font-family: "LogoFont";
    src: url('./assets/font/logo.otf') format('truetype');
}